.drop-down-menu {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.drop-btn {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 0;
}

.expandable-menu {
  width: 100%;
  background-color: gray;
}

.menu-item {
  color: white;
}
