.drop-down-menu {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.drop-btn {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid;
  border-color: black !important;
  border-radius: 0 !important;
  background-color: chartreuse !important;
  color: black !important;
}

.expandable-menu {
  width: 100%;
  background-color: gray;
  overflow: hidden;
  transform-origin: center top;
  border: 1px solid;
  border-color: black !important;
}

.menu-item {
  color: white;
}

.drop-open {
  animation: open 0.5s ease-in-out forwards;
}

@keyframes open {
  0% {
    transform: scaleY(0);
    max-height: 0;
  }
  100% {
    transform: scaleY(1);
    max-height: fit-content;
  }
}

.drop-close {
  animation: close 0.5s ease-in-out forwards;
}

@keyframes close {
  0% {
    transform: scaleY(1);
    max-height: fit-content;
  }
  100% {
    transform: scaleY(0);
    max-height: 0;
  }
}
