.nav-bar {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: blue;
  font-size: large;
  font-weight: bolder;
}
