/* General */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

#root {
  --text-color: white;
  --text-color-placeholder: rgb(228, 228, 228);
  --background-color: #282a36;
  --border-color: #202022;
  --nav-background: #373a4b;
  --side-background: #44475a;
  --btn-active-hover: #424649;
  --selected-background: #bd93f9;
  --app-title-color: #bd93f9;
  --description-background-color: rgba(0, 0, 0, 0.103);
  --text-field-background-color: #bd93f9;
}

* {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}

body {
  color: var(--text-color);
  min-height: 100vh;
  min-width: 100%;
}

/* Nav Bar */
.nav-bar {
  color: var(--text-color);
  background-color: var(--nav-background);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color);
}

.nav-bar .header {
  width: 100%;
  height: 50%;
  padding: 2px 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: #bd93f9; */
}

.nav-bar .header .title {
  font-weight: bold;
  color: var(--app-title-color);
}

.nav-bar .options {
  width: 100%;
  height: 50%;
  padding: 2px 8px;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: flex-start;
}

.nav-bar .options button {
  background-color: #6161613a;
  margin: 0px 4px;
  width: 100px;
  height: 25px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1px 8px;
}

/* Main Panel */
.main-panel {
  background-color: var(--background-color);
  height: 95vh;
}

/* Tool Panel */
.tools-panel {
  color: var(--text-color);
  background-color: var(--side-background);
  height: 100%;
  padding: 2px;
  border: 1px solid var(--border-color);
  border-top: 0px;
}

.tool-item {
  padding-left: 5px;
}

.tool-item button {
  background-color: rgba(0, 0, 0, 0);
  font-weight: bold;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: none;
  /* border-radius: 0px; */
}

/* Props Panel */
.props-panel {
  color: var(--text-color);
  background-color: var(--side-background);
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  border: 1px solid var(--border-color);
  border-top: 0px;
}

.props-panel .header {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  background-color: var(--selected-background);
  padding: 6px;
  border: 0px;
  border-bottom: 1px solid var(--border-color);
}

.props-panel .body {
  height: 100%;
  width: 100%;
}

.props-description {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
}

.props-description .head {
  background-color: var(--description-background-color);
  width: 100%;
  padding: 3px 6px 2px 6px;
  font-weight: bold;
  text-align: left;
}

.props-description .description {
  background-color: var(--description-background-color);
  padding: 3px 6px 2px 6px;
  text-align: left;
  width: 100%;
  font-size: 15px;
  border-bottom: 1px solid var(--border-color);
}

.prop-text-field {
  background-color: var(--description-background-color);
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}

.prop-text-field label {
  font-weight: bold;
  padding: 2px 4px 0px 4px;
}

.prop-text-field input {
  padding: 4px;
  margin: 4px;
  outline: 0;
  border: none;
  border-radius: 8px;
  background-color: var(--text-field-background-color);
}

.prop-text-field input::placeholder {
  color: var(--text-color-placeholder);
}
